<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{entreprise.nom_entreprise}}</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <div id="top">
    <img id="logo" src='{{entreprise.lien_image}}' alt="logo">

    <div id="subtitle">
      <h1 class="soustitre">{{entreprise.sous_titre_entreprise}}</h1>
    </div>

    <div id="btn">
      <fa-icon icon="fa-solid fa-truck"></fa-icon>
      <fa-icon icon="fa-sharp fa-solid fa-euro-sign"></fa-icon>     
      <p id="monnaie" class=" ion-text-lowercase ">Accepte les <br>monnaies locales</p>
    </div>
  </div>
<ion-item>
  <div id="adresse">
    <div id=adr  *ngIf="entreprise.adresse_entreprise || entreprise.cp_entreprise || entreprise.ville_entreprise">
      <ion-icon class="ion-margin-end" name="pin-outline"></ion-icon>
      {{entreprise.adresse_entreprise}}, {{entreprise.cp_entreprise}} {{entreprise.ville_entreprise}}
      
    </div>
    <br><br>

    <div id="time" *ngIf="entreprise.horaires_entreprise">
      <ion-icon class="ion-margin-end" name="time-outline"></ion-icon>
      {{entreprise.horaires_entreprise}}
      
    </div>
    <br><br>

    <div id="tel" *ngIf="entreprise.telephone_entreprise">
      <ion-icon class="ion-margin-end" name="call-outline"></ion-icon>
      {{entreprise.telephone_entreprise}}
    </div>
    <br><br>

    <div id="infos">
      <ion-icon class="ion-margin-end" name="information-circle-outline"></ion-icon>      
     {{this.infos_entreprise}}
    </div>
    <br><br>
  </div>
</ion-item>
    <h2 id="h2Title">Réseaux sociaux</h2>
    <div id="sites" class="ion-justify-content-center">
      <div *ngIf="entreprise.site_internet_entreprise" >
        <a class="site" href="{{entreprise.site_internet_entreprise}}"><ion-icon name='cloud-outline' class="ion-margin-end"></ion-icon></a>
      </div>
      <div *ngIf="entreprise.fb_entreprise" >
        <a class="fb" href="{{entreprise.fb_entreprise}}"><ion-icon name="logo-facebook" class="ion-margin-end"></ion-icon></a>
      </div>
      <div *ngIf="entreprise.insta_entreprise" >
        <a class="insta" href="{{entreprise.insta_entreprise}}"><ion-icon name="logo-instagram" class="ion-margin-end"></ion-icon></a>
      </div>
      <div *ngIf="entreprise.link_entreprise">
        <a class="link" href="{{entreprise.link_entreprise}}"><ion-icon name="logo-linkedin" class="ion-margin-end"></ion-icon></a>
        
      </div>
  </div>
</ion-content>
