<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{entreprise.nom_entreprise}}</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content id="detContent">
  <ion-grid>
  <div id="top">
    <ion-row class="ion-align-items-center" >
      <ion-col id="subtitle" class="ion-text-center " size="7">
        <!-- <h3 class="title">{{entreprise.nom_entreprise}}</h3> -->
        <p class="soustitre">{{entreprise.sous_titre_entreprise}}</p>
        <p class="tel">{{entreprise.telephone_entreprise}}</p>
        <ion-button id="livraison" href="#" class=" ion-text-lowercase">Livraison</ion-button>
        <ion-button id="monnaie" href="#" class=" ion-text-lowercase ">Accepte les <br>monnaies locales</ion-button>
      </ion-col>
      <ion-col id="imgLogo" size="5">
        <img src='{{entreprise.lien_image}}' alt="logo">
      </ion-col>
    </ion-row>
  </div>
</ion-grid>

  <ion-grid>
    <div id="text">
      <ion-row class="ion-padding-top">
        <ion-col id="left" size="2">
          <div id="adresse" class="ion-padding">
            <ion-icon name="pin-outline"></ion-icon>
          </div>

          <div id="time" class="ion-padding">
            <ion-icon name="time-outline"></ion-icon>
          </div>

        <div id="tel" class="ion-padding">
          <ion-icon name="call-outline"></ion-icon>
          <br>
        </div>

        <div id="infos" class="ion-padding">
          <ion-icon name="information-circle-outline"></ion-icon>      
        </div>
      </ion-col>

      <ion-col id="middle" size="6">
        <div  class="ion-text-justify ion-margin">
          <p>{{entreprise.adresse_entreprise}}</p>
          <p>{{entreprise.cp_entreprise}}</p>
          <p>{{entreprise.ville_entreprise}}</p>

        </div>

        <div  class="ion-text-justify ion-margin">
          <p>{{entreprise.horaires_entreprise}}</p><br>
        </div>

        <div  class="ion-text-justify ion-margin">
          <p>{{entreprise.telephone_entreprise}}</p><br>
        </div>

        <div  class="descr ion-text-justify ion-margin">
          <p>{{entreprise.infos_entreprise}}<br></p>
        </div>
      </ion-col>

      <ion-col id="right" size="4">
        <div id="leftTop"  class="ion-margin">
          <h3>A savoir</h3>
          <p id="liv">{{entreprise.livraison_entreprise}}</p>
          <p id="mon">{{entreprise.monnaie_locale_entreprise}}</p>
        </div>
      
        <div  class="reseaux ion-padding">
          <h3>Réseaux sociaux</h3>
          <a href="{{entreprise.site_internet_entreprise}}">Site internet</a><br>
          <a href="{{entreprise.fb_entreprise}}">Facebook</a><br>
          <a href="{{entreprise.insta_entreprise}}">Instagram</a><br>
          <a href="{{entreprise.link_entreprise}}">Linkedin</a><br>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
</ion-content>
