content{
    font-size: 1.4em;
}

#top{
    text-align: center;
}

#logo{
height: 175px;
margin-top:15px;
object-fit: scale-down;
}

#subtitle .soustitre{
    
    font-size: 1.4em;
    margin: 5px;

}

#subtitle h3{
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 20px;
}

// #btn{
//     margin: 25px;
//     display: flex;
//     justify-content: space-around;
// }

// #btn fa-icon{
//     color: white;
//     font-size: 2em;
// }

#infos_ent{
    margin-bottom: 15px;
}


#adresse, #time, #tel{
    margin: 0px 0px 10px 0px;
}


#adresse ion-icon{
    font-size: 1.4em;
    color: rgb(255, 77, 0);
    float: left;
}


.adr, .cp, .ville {
    margin-left: 43px;
}

.cp, .ville {
margin-top: -15px;
}

#tel a {
    color: white;
}

#infos{
    max-height: 200px;
    overflow: scroll;
    text-align: justify;
}

#sites{
    display: flex;
    justify-content: space-between;
    font-size: 2em;

}
#sites .site, .fb, .insta, .link{
    font-size: 1.4em;
    color: white;

}
