<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{entreprise.nom_entreprise}}</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <div id="top">
    <img id="logo" src='{{entreprise.lien_image}}' alt="logo">

    <div id="subtitle">
      <h1 class="soustitre">{{entreprise.sous_titre_entreprise}}</h1>
      <h3>{{entreprise.secteur_entreprise}}</h3>
    </div>

    <!-- <div id="btn">
      <fa-icon icon="truck"  *ngIf="entreprise.livraison_entreprise == true" alt="accepte les monnaies alternatives"></fa-icon>
      <fa-icon icon="euro-sign" *ngIf="entreprise.monnaie_locale_entreprise == true"  alt="accepte les livraisons"></fa-icon>     
    </div> -->
  </div>
<ion-item id="infos_ent">
  <div id="adresse">
    <div id="adr"  *ngIf="entreprise.adresse_entreprise || entreprise.cp_entreprise || entreprise.ville_entreprise">
      <ion-icon class="ion-margin-end" name="pin-outline"></ion-icon>
      <p class="adr">{{entreprise.adresse_entreprise}} </p>
      <p class="cp">{{entreprise.cp_entreprise}} </p>
      <p class="ville">{{entreprise.ville_entreprise}}</p>
    </div>

    <div id="time" *ngIf="entreprise.horaires_entreprise">
      <ion-icon class="ion-margin-end" name="time-outline"></ion-icon>
      <p>{{entreprise.horaires_entreprise}}</p>
    </div>

    <div id="tel" *ngIf="entreprise.telephone_entreprise">
      <ion-icon class="ion-margin-end" name="call-outline"></ion-icon>
      <a href="tel:{{entreprise.telephone_entreprise}}">{{entreprise.telephone_entreprise}}</a> 
    </div>

    <div id="infos">
      <ion-icon class="ion-margin-end" name="information-circle-outline"></ion-icon>      
      <p>{{this.infos_entreprise}}</p>
    </div>
  </div>
</ion-item>
    <!-- <h2 id="h2Title">Réseaux sociaux</h2> -->
    <div id="sites" class="ion-justify-content-center">
      <div *ngIf="entreprise.site_internet_entreprise" >
        <a class="site" href="{{entreprise.site_internet_entreprise}}"><ion-icon name='cloud-outline' class="ion-margin-end"></ion-icon></a>
      </div>
      <div *ngIf="entreprise.fb_entreprise" >
        <a class="fb" href="{{entreprise.fb_entreprise}}"><ion-icon name="logo-facebook" class="ion-margin-end"></ion-icon></a>
      </div>
      <div *ngIf="entreprise.insta_entreprise" >
        <a class="insta" href="{{entreprise.insta_entreprise}}"><ion-icon name="logo-instagram" class="ion-margin-end"></ion-icon></a>
      </div>
      <div *ngIf="entreprise.link_entreprise">
        <a class="link" href="{{entreprise.link_entreprise}}"><ion-icon name="logo-linkedin" class="ion-margin-end"></ion-icon></a>
        
      </div>
  </div>
</ion-content>
