<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu">
        <ion-item
          ><a
            href="https://autourdemoi.colentre.com/le-circuit-court-autour-de-moi/#"
            >Le projet</a
          ></ion-item
        >
        <ion-item
          ><a
            href="https://autourdemoi.colentre.com/politique-de-confidentialite/#"
            >Politique de confidentialité</a
          >
        </ion-item>
        <ion-item
          ><a href="https://autourdemoi.colentre.com/ajouter-entreprise/#">
            Ajouter mon entreprise</a
          ></ion-item
        >
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
