<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu">
        <ion-item>
          <ion-icon name="locate-outline" class="ion-margin-end"></ion-icon>
          <a href="/home"> Carte</a>
        </ion-item>
        <ion-item>
          <ion-icon name="flower-outline" class="ion-margin-end"></ion-icon
          ><a
            href="https://autourdemoi.colentre.com/le-circuit-court-autour-de-moi/#"
          >
            Le projet</a
          ></ion-item
        >
        <ion-item>
          <ion-icon
            name="share-social-outline"
            class="ion-margin-end"
          ></ion-icon
          ><a href="/recom-form"> Partager autour de moi</a></ion-item
        >
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
