// @import url("https://www.fontsquirrel.com/fonts/SF-Cartoonist-Hand");

// @font-face {
//     font-family: "SF";
//     font-style: normal;
//     font-weight: normal;
//     src: url("assets/uploads/fonts/SF_Cartoonist_Hand.ttf");
//   }
#logo{
    height: 65px;
    float: left;
    margin: 10px;
}


<<<<<<< HEAD
.p1, .p2{
    text-align: center;
    margin: 30px 10px 30px 10px;
}
.p1{
font-weight: bold;
font-size: 1.4em;
// --ion-font-family: "SF";
}

.p2{
    font-size: 1.2em;
text-decoration: wavy;
}

.mailEntrep, .nomUtili, .listServ, .commentaire, .mailPartage{
=======
.p1{
font-size: 1.2em;
text-align: center;
    margin: 30px 10px 15px 10px;

}

.formChoix{
    margin: 10px 10px -10px 10px;
    font-size: 1em;
    border-radius: 10px;
}



.nomUtili, .mailDest{
>>>>>>> 4340311 (synchronisation DONE)
    margin: 10px;
    font-size: 1em;
background-color: rgba(198, 198, 255, 0.29);
}


<<<<<<< HEAD
#nomUtili, #mailEntrep, .listServ, #commentaire, #mailPartage{
=======
#nomUtili, #mailDest{
>>>>>>> 4340311 (synchronisation DONE)
    margin: 10px;
    border-radius: 10px;
    height: 70px;
}

#btnVal{
    margin: 15px 10px 10px 10px;
    border-radius: 10px;
}

<<<<<<< HEAD
#radioChoice{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 30px 10px 20px 10px;
=======
.labelForm {
    font-size: 0.9em;
>>>>>>> 4340311 (synchronisation DONE)
}

#mail{
    margin: 10px;
    text-align: justify;
    font-size: 0.8em;
}

<<<<<<< HEAD
#mailPartage{
=======
#mailEntrep{
>>>>>>> 4340311 (synchronisation DONE)
    display: none;
}

.ng-valid.ng-dirty:not(form) {
    border: solid 1px rgb(0, 153, 0);
}

.ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
    border: solid 1px rgb(190, 0, 0);
    background-color: rgba(255, 136, 136, 0.445);

<<<<<<< HEAD
=======
}

.inputError{
    font-size: 0.8em;
    font-weight: bold;
    color: red;
    margin-left: 10px;
}

.headAlert{
    color: red;
    font-weight: bold;
}

.yesBtn{
    color: green;
    font-weight: bold;
>>>>>>> 4340311 (synchronisation DONE)
}