<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary" id="headAcc">
      <ion-img src="assets/uploads/Logo.png" id="logo"></ion-img>
      <ion-button slot="end">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" id="mapContent">
    <!-- <ion-button href="/entreprise-detail">detail entreprise</ion-button> -->
    <div id="map">
      <ion-fab
        slot="fixed"
        vertical="center"
        horizontal="top"
        id="keepPosition"
        (click)="locate()"
      >
        <ion-fab-button>
          <ion-icon name="navigate-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div>
      <ion-searchbar
        id="search"
        show-clear-button="always"
        placeholder="Recherche par mots clés, noms, villes ..."
        color="primary"
        [(ngModel)]="filterTerm"
        showCancelButton="focus"
        animated
        (keyup.enter)="searchEnt(filterTerm)"
      ></ion-searchbar>
      <ion-toast
        [isOpen]="isToastOpen"
        message="Aucun résultat ne correspond à votre recherche"
        [duration]="5000"
        (didDismiss)="setOpen(false)"
      ></ion-toast>

      <ion-list id="list">
        <ion-item
          button
          *ngFor="let ent of entreprisesWP | filter:filterTerm"
          [routerLink]="['/', 'developers', entreprise.id_entreprise]"
        >
          <ion-label id="searchResults">
            <!--
            <p id="id" [innerHTML]="ent.id"></p>
            <p id="nom" [innerHTML]="ent.title.rendered"></p>
            <p id="infos" [innerHTML]="ent.meta.sous-titre"></p>
            <p id="site" [innerHTML]="ent.meta.site_internet"></p>
            <p id="lat" [innerHTML]="ent.meta.__adresseGeoLat"></p>
            <p id="long" [innerHTML]="ent.meta.__adresseGeoLng"></p>-->
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</div>
