#logo{
  height: 65px;
  float: left;
  margin: 10px;
}


#map{
height: 90%;
margin-top: 10px;
}

// #list{
//   display: none;
// }

.ng-valid[required], .ng-valid.required {

  border-left: 5px solid green;
  
  }
  
  .ng-invalid:not(form) {
  
  border-left: 5px solid red;
  
  }

// #footer, a {
//    display: flex;
//   justify-content: center;
//   flex-wrap: nowrap;
//   text-decoration: none;
//   color: white;
//   font-size: 0.9em;
//   margin: 5px;
// }
