

#logo{
  height: 65px;
  float: left;
  margin: 10px;
}

#map{
height: 90%;
margin-top: 10px;
}






// #footer, a {
//    display: flex;
//   justify-content: center;
//   flex-wrap: nowrap;
//   text-decoration: none;
//   color: white;
//   font-size: 0.9em;
//   margin: 5px;
// }
