<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary" id="headAcc">
      <ion-img src="assets/uploads/Logo.png" id="logo"></ion-img>
      <ion-button slot="end">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" id="mapContent">
    <div id="map">
      <ion-fab
        slot="fixed"
        vertical="center"
        horizontal="top"
        id="keepPosition"
        (click)="locate()"
      >
        <ion-fab-button>
          <ion-icon name="navigate-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div>
      <ion-searchbar
        id="search"
        show-clear-button="always"
        placeholder="Recherche par mots clés, noms, villes ..."
        color="primary"
        [(ngModel)]="filterTerm"
        showCancelButton="focus"
        animated
        (keyup.enter)="searchEnt(filterTerm)"
      ></ion-searchbar>
      <ion-list id="list">
        <ion-item
          button
          *ngFor="let ent of entreprise | filter:filterTerm "
          [routerLink]="['/', 'developers', entreprise.id_entreprise]"
        >
          <ion-label id="searchResults">
            <p id="id">{{ ent.id_entreprise }}</p>
            <p id="nom">{{ ent.nom_entreprise }}</p>
            <p id="infos">{{ ent.infos_entreprise }}</p>
            <p id="site">{{ ent.site_internet_entreprise }}</p>
            <p id="lat">{{ ent.latitude_entreprise }}</p>
            <p id="long">{{ ent.longitude_entreprise }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</div>
